@import 'layout';

.keys-container {
  max-height: 600px;
  overflow: auto;
}

.key-container {
  @extend .column, .middle;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.drop-icon {
  transform: rotate(90deg);
  height: 15px;
  width: 15px;
  transition-duration: 300ms;
  &.rotate {
    transform: rotate(270deg)
  }
}

.drop-button {
  @extend .row, .middle, .center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: silver;
}

.requests-header {
  background-color: cadetblue;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.requests-body {
  >:nth-child(2n) {
    background-color: whitesmoke;
  }
}

.request {
  padding: 10px;
  border-bottom: 1px solid whitesmoke;
}
